<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <connectionStrings>
    <!--
    *** Production database
    -->
    <add name="_UserDatabase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\PROD3\ArcGISServer_Data\_logDB\MTASS.accdb" providerName="System.Data.OleDb"/>
    <add name="_InternalIPDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\PROD3\ArcGISServer_Data\Internal_IP_Bypass.mdb" providerName="System.Data.OleDb"/>
    <add name="_SiteAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\PROD3\e_data\PROJECTS\463903\Project_Data\SafetySurvey.accdb" providerName="System.Data.OleDb"/>
    <!--
    *** Test database
    <add name="_UserDatabase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MTASS.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="_InternalIPDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Internal_IP_Bypass.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="_SiteAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SafetySurvey.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    -->
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="MTA Safety Survey"/>
    <add key="ClientName" value="MTA"/>
    <add key="ApplicationSubTitle" value="MTA Safety Survey"/>
    <add key="LastUpdated" value="5/8/2016"/>
    <add key="RequireSSL" value="false"/>
    <add key="errorEmailFrom" value="GISAdmin@Advance2s.com"/>
    <add key="errorEmailTo" value="mjiang@wendelcompanies.com"/>
    <add key="errorEmailServer" value="PROD3"/>
    <add key="InspectionYear" value="2017"/>
    <add key="Restrict_IP_Address" value="False"/>
    <add key="No_Internal_IP_Bypass" value="True"/>
    <add key="No_Internal_IP_L123_Bypass" value="False"/>
    <add key="EncryptionKey" value="u/?~:#vX9K$78MkW6g*q"/>
    <add key="TokenExpirationSeconds" value="28800"/>
    <add key="PhotoPath" value="\\PROD3\e_data\PROJECTS\463903\Project_Data\Photo\"/>
    <add key="PhotoPath_Reduced" value="\\PROD3\e_data\PROJECTS\463903\Project_Data\Photo\reduced\"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <system.web>
    <identity impersonate="true" userName="advance2s\josh" password="Wendel44"/>
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="session" type="WendelWMA.WMA_Utility.SessionExpressionBuilder"/>
        <add expressionPrefix="code" type="WendelWMA.WMA_Utility.CodeExpressionBuilder"/>
      </expressionBuilders>
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".Template" loginUrl="UserForms/WDLogin.aspx" protection="All" timeout="259200" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <rule name="ForceHttpsBilling" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="false" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- open access to image web service - for excel report containing embedded links to photos -->
  <location path="UserForms/TransmitImgSrc.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>